<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../../../favicon.ico" style="height: 40px; width: auto"> Army Symbology</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="col-8 navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="symbols">Buscador de símbolos</a>
          </li>
          <li *ngIf="isLoggedAdmin" class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="new">Crear símbolo</a>
          </li>
          
          <li class="nav-item dropdown" *ngIf="isLoggedAdmin">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Administrar
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="types">Tipos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Usuarios</a></li>
            </ul>
          </li>
        </ul>
        <app-login class="col-4"></app-login>
      </div>
    </div>
  </nav>
